<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      แอพ Tell Me บอกฉันทีสิ่งรอบตัว
    </ion-title>
  </ion-navbar>
    <ion-card>
    <ion-card-header>
      <ion-title>
        ข้อมูลสถานที่
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      ขณะนี้คุณอยู่ที่ มหาวิทยาลัยธรรมศาสตร์
    </ion-card-content>
  </ion-card>
</ion-header>

<ion-content padding>



  <ion-card>
    <ion-card-header>
      <ion-title>
        สถานที่รอบตัวฉัน
      </ion-title> 
    </ion-card-header>
    <ion-item *ngFor="let item of nearByPlaces"  tappable>
      <div *ngIf="item.distance != -1; then knownDistancePlace  ; else unknownDistancePlace"></div>
        
        <div *ngIf="item.distance != -1 && !item.last"> {{ item.name }} {{item.distance}} เมตร  </div>
        <div *ngIf="item.distance != -1 && item.last"> {{ item.name }} {{item.distance}} เมตร สิ้นสุด </div>
        <div *ngIf="item.distance == -1 && !item.last"> {{ item.name }} ไม่ทราบระยะทาง </div>
        <div *ngIf="item.distance == -1 && item.last"> {{ item.name }} ไม่ทราบระยะทาง สิ้นสุด </div>
 
   
   

    </ion-item>
  </ion-card>

  <ion-card> 
    <ion-card-header>
      <ion-title>
        สถานที่อำนวยความสะดวก
      </ion-title> 
      
    </ion-card-header>
    <ion-item *ngFor="let item of nearByFacility"  tappable>
        <div *ngIf="item.distance != -1 && !item.last"> {{ item.name }} {{item.distance}} เมตร  </div>
        <div *ngIf="item.distance != -1 && item.last"> {{ item.name }} {{item.distance}} เมตร สิ้นสุด </div>
        <div *ngIf="item.distance == -1 && !item.last"> {{ item.name }} ไม่ทราบระยะทาง </div>
        <div *ngIf="item.distance == -1 && item.last"> {{ item.name }} ไม่ทราบระยะทาง สิ้นสุด </div>
    </ion-item>
  </ion-card>





</ion-content>
