

<ion-content no-bounce>
<ion-slides (ionSlideDidChange)="slideChanged()"> 


  <ion-slide>

          <ion-list>
            <ion-list-header>
              สถานที่รอบตัวฉัน
            </ion-list-header>
            <ion-item *ngFor="let item of nearByPlaces" tappable>
              <p *ngIf="item.distance != -1 && !item.last"> {{ item.name }} {{item.distance}} เมตร  </p>
              <p *ngIf="item.distance != -1 && item.last"> {{ item.name }} {{item.distance}} เมตร สิ้นสุด </p>
              <p *ngIf="item.distance == -1 && !item.last"> {{ item.name }} ไม่ทราบระยะทาง </p>
              <p *ngIf="item.distance == -1 && item.last"> {{ item.name }} ไม่ทราบระยะทาง สิ้นสุด </p>
            </ion-item>
          </ion-list>


  </ion-slide>

</ion-slides>



</ion-content>
